*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(248, 181, 157);
    text-align: center;


    header{
        background-color: darkred;
        

        a{
            text-decoration: none;
            color: white;
        }
    }

    
    li{
        list-style-type: none;

        a{
            text-decoration: none;
            color: black;

            &:hover{
                background-color: red;
            }
        }
        }



    footer{
        background-color: rgb(34, 30, 31);
        color: white;
    }
}
