* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8b59d;
  text-align: center;
}

body header {
  background-color: darkred;
}

body header a {
  text-decoration: none;
  color: white;
}

body li {
  list-style-type: none;
}

body li a {
  text-decoration: none;
  color: black;
}

body li a:hover {
  background-color: red;
}

body footer {
  background-color: #221e1f;
  color: white;
}

