* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8b59d;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
}

body header {
  background-color: darkred;
}

body header a {
  text-decoration: none;
  color: white;
}

body li {
  list-style-type: none;
}

body li a {
  text-decoration: none;
  color: black;
}

body li a:hover {
  background-color: red;
}

body .btn_create {
  margin: 10px;
}

body .btn_create .btn_create_primary {
  text-decoration: none;
  color: white;
  background-color: red;
  border-radius: 10px;
  padding: 5px;
}

body .btn_create .btn_create_primary:hover {
  background-color: blue;
}

body footer {
  background-color: #221e1f;
  color: white;
}

